rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Tous les administrateurs (utilisateurs authentifiés) ont accès à tout
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
