rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Mode DEBUG : Tout autorisé temporairement pour valider l'upload
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
